<!DOCTYPE html>
<html>
  <head>
    <title>SlashSmart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logo_1 = "<%= image_url('logo_1.png') %>"
      window.logo = "<%= image_url('logo.svg') %>"
      window.airplane = "<%= image_url('') %>"
      window.ariplane_icon = "<%= image_url('airplane_icon.png') %>"
      window.track_balances = "<%= image_url('track_balances.png') %>"
      window.organize_expense= "<%= image_url('organize_expense.png') %> "
      window.footer= "<%= image_url('footer.png') %> "
    </script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
