<!DOCTYPE html>
<html>
  <head>
    <title>SlashSmart</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://kit.fontawesome.com/8f808e3855.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.smart_slash = "<%= image_url('smart_slash.png') %>"
      window.logo = "<%= image_url('logo.svg') %>"
      window.airplane = "<%= image_url('') %>"
      window.ariplane_icon = "<%= image_url('airplane_icon.png') %>"
      window.track_balances = "<%= image_url('track_balances.png') %>"
      window.organize_expense= "<%= image_url('organize_expense.png') %> "
      window.footer= "<%= image_url('footer.png') %> "
      window.no_transaction = "<%= image_url('no_transaction.png') %> "
    </script>
    <meta property="og:title" content="SlashSmart" />
    <meta property='og:image' content="<%= image_url('slashsmart.png') %>" />
    <meta property="og:description" content="A single page clone of friends expense tracking site Splitwise, supporting finding & adding friends, adding & editing expenses, balance calculating & tracking, and commenting." />
    <meta property="og:url" content="https://slashsmart.herokuapp.com/#/" />


  </head>

  <body>
    <%= yield %>
  </body>
</html>
